*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body {
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), /* capa oscura */
        url('../Assets/img/Restaurante/sobre.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*header*/
.barraNav{
    background-color: #000000;
    color: #ffff;
    display: flex;
    height: 100px;
    max-width:100% ;
    box-shadow: 0 0 15px 1px black;
}
.enlaces{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left:50%;
    margin-top: 1%;
}
.enlacesC{
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 2px solid ;
    border-radius: 10px;
    font-size: 21px;
    font-weight:500;
    background-color: #ffde59;
    text-decoration: none;
}
.imagenNav{
    height: 120%;
}


/*Pié de página */
.container__footer{
    width: 100%;
    max-width: 300rem;
    margin: auto;
}
.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    font-size: 20px;
    border-top:2px solid black ;
    color:#ffde59 ;
}
.contacto{
margin: 20px;
}
.siguenos{
margin-bottom: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
color:#ffde59 ;
}
.logos{
margin: 20px;
font-size: 45px;

}
.logosImg{
margin: 15px;

}
.otros{
margin: 20px;

}
.derechos{
margin-top: 0;
font-size: 25px;
text-align: center;
background-color: #ffde59;
color: #000000;
padding: 10px;
width: 100%;
font-weight: 600;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*          pagina sobre nosotros*/
/*imagen de fondo*/
.main-fondo{

margin-bottom: 0;
}
.cont-fondo{
    margin-bottom: 0;

    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30rem;
    background-image: url('../Assets/img/Restaurante/image.png');
    background-size: contain;
}

/*titulo*/
.title-sobre{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:clamp(3rem, 6vw , 8rem);
    font-weight: bold;
    color: #fefefe;
    text-shadow: 0 0 1px #ffde59;

}
/*eslogan*/
.eslogan{
    position: absolute;
    position: absolute;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #ffff;
    font-size:clamp(2rem,2vw,4rem);
    text-shadow: 0 0 3px #ffde59;
}
/*cajas*/
/*diseño de todas las cajas*/
.container-main{
    border: 2px solid black;
    border-radius: 40px 10px 8px 0;
    width: 50vw;
    min-width:30em ;
    max-height: 70rem;
    overflow: auto;
    background: #fff;
    box-shadow: 0 0 5px #ffde59    ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 150px;
}
.img--desc{
    width: 20vw;
    min-width: 400px;
}
.cont__box{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

/*caja empleados*/
.container-team{
    background:#fff;
    border: 2px solid black;
    border-radius: 40px 10px 8px 0;
    width: 50vw;
    min-width:30em ;
    max-height: 70rem;
    margin-top: 50px;
    box-shadow: 0 0 5px #ffde59    ;
}


.img-em{
    width: 30vw;
    min-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 5px #000;
    margin-top: 50px;
}
/*caja mision*/
.container-main-mision{
    width: 50vw;
    height: 40vh;
    min-width:30em ;
    max-height: 70rem;
    margin-left: 40vw;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 40px 10px 8px 0;
    height: auto;
    background: #fff;
    box-shadow:0 0 5px #ffde59 ;

}

/*titulos de las cajas*/
.subtitle-sobre{
    padding: 10px;
    margin-left: 1rem;
}
/*titulo de mision*/
.subtitle-sobre-mision{
    padding: 10px;
    margin-left: 80%;
}
.subtitle-subtitle{
    padding: 10px;
    margin-left: 60%;
}
/*texto*/
.text-sobre{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}
/*texto de mision*/
.text-sobre-mision{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
/*texto empleado*/
.text-sobre-empleado{
    padding: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
/* imagen de empleados*/
.img-empleado{
    border-radius: 10px;
    padding: 10px;
    max-width: 30em;
    min-width: 20em;
    
    border: 2px solid rgb(0, 0, 0);
    background: #fff;
    margin-top: 15px;
    border-radius: 10px;
}
.cont-text{
    display: flex;
}
